# Loading libraries

In [180]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import nltk as nk

# Loading excel data containg a list of both complints and response

In [256]:
df=pd.read_excel('/home/phillemon/Desktop/data1.xlsx', header=None, error_bad_lines=False, index_col=False)
df.head()

                                                   0
0  Ngwane Philani Excellent Hi I received R300 ye...
1  Capitec Bank Transfers to external banks takes...
2  Tebatso Matlou Hi I haven't deposited nothing ...
3  Capitec Bank Hi Tebatso, you can check your ba...
4  Xolisile Maxoli Mkhize When will it be possibl...

# Naming our data frame as quiries and rsponds

In [188]:
df.columns =['quiries and responds']
df.head(2)

                                quiries and responds
0  Ngwane Philani Excellent Hi I received R300 ye...
1  Capitec Bank Transfers to external banks takes...

# Showing capitec responds using startswith and naming it to response

In [189]:
df2=df['quiries and responds'].str.startswith("Capitec", na=False)
responds=df[df2]
responds.columns=['responds']
responds.head()

                                            responds
1  Capitec Bank Transfers to external banks takes...
3  Capitec Bank Hi Tebatso, you can check your ba...
5  Capitec Bank Hi Xolisile, all systems have bee...
7  Capitec Bank Awesome, thank you for letting us...
9  Capitec Bank Hi Khabonina, we are sorry to hea...

# Showing customers complaints using startswith and naming it complints
## using starts with to filter out capitec responds

In [193]:
complaints=df[~df["quiries and responds"].astype(str).str.startswith('Capitec')]
complaints.columns=['complaints']
complaints.head(4)

                                          complaints
0  Ngwane Philani Excellent Hi I received R300 ye...
2  Tebatso Matlou Hi I haven't deposited nothing ...
4  Xolisile Maxoli Mkhize When will it be possibl...
6  Daniel Belteshazzar I received R300 in my acco...

# Checking the lenght of out complaints and responds data frames

In [85]:
len(responds.index), len(complaints.index)

(69, 69)

# Combining the responds and complaint as one data frame

In [86]:
Data= pd.concat([complaints, responds], join='outer', ignore_index=True, sort=True)

In [195]:
Data.head(2)

                                          complaints responds
0  Ngwane Philani Excellent Hi I received R300 ye...      NaN
1  Tebatso Matlou Hi I haven't deposited nothing ...      NaN

In [196]:
Data.tail(2)

    complaints                                           responds
136        NaN  Capitec Bank Hi Skhoh, please visit your neare...
137        NaN  Capitec Bank Hi Motlokoa, we would be happy to...

# Saving as csv to filter out Not a Number (Nan) without removing important information

In [ ]:
Data.to_csv("capitec complaints.csv", encoding='utf-8')

In [99]:
Capitec_Complaints=pd.read_excel("/home/phillemon/Desktop/capitec complaints.xlsx")

# Showing a clean data frame showing Complaints and bank responds

In [102]:
Capitec_Complaints.head()

,Complaints,Bank Responds
0,"0,Ngwane Philani Excellent Hi I received R300 ...","69,,Capitec Bank Transfers to external banks t..."
1,"1,""Tebatso Matlou Hi I haven't deposited nothi...","70,,""Capitec Bank Hi Tebatso, you can check yo..."
2,"2,Xolisile Maxoli Mkhize When will it be possi...","71,,""Capitec Bank Hi Xolisile, all systems hav..."
3,"3,Daniel Belteshazzar I received R300 in my ac...","72,,""Capitec Bank Awesome, thank you for letti..."
4,"4,Khabonina Khabo Again during this time my so...","73,,""Capitec Bank Hi Khabonina, we are sorry t..."

# Cleaning Data (Complaints)

In [216]:
# converting to list 
Complaints_list = complaints["complaints"].tolist() ;print(Complaints_list[:1])

['Ngwane Philani Excellent Hi I received R300 yesterday around 6 but what Confuses me is that when I check my Bank balance it still the same as before the money was paid. Plz help me']

# Make text lower case

In [217]:
# Apply a first round of text cleaning techniques
import re
import string
new_clean_com=[]
for i in Complaints_list:
    '''Make text lowercase'''
    text = i.lower()
    new_clean_com.append(text)

# Removing texts in square brackets

In [218]:
new_clean_com1=[]
for i in new_clean_com:
    '''remove text in square brackets'''
    text = re.sub('\[.*?\]','',i)
    new_clean_com1.append(text)

# Removing punctuation mark

In [219]:
new_clean_com2=[]
for i in new_clean_com1:
    ''' remove punctuation'''
    text = re.sub('[%s]' % re.escape(string.punctuation), '',i)
    new_clean_com2.append(text)

# Removing numbers and words containing numbers, Additional punctuations and some nonsensical texts

In [229]:

new_clean_com3=[]
for i in new_clean_com2:
    '''# Removing numbers and words containing numbers, Additional punctuations and some nonsensical texts'''
    text = re.sub('\w*\d\w*', '', i)
    new_clean_com3.append(text)

In [230]:

new_clean_com4=[]
for i in new_clean_com3:
    '''remove words containing numbers.'''
    text = re.sub('[‘’“”…]', '', i)
    new_clean_com4.append(text)

In [233]:

new_clean_com5=[]
for i in new_clean_com4:
    '''remove words containing numbers.'''
    text = re.sub('\n', '', i)
    new_clean_com5.append(text)

# Clean updated dataframe

In [237]:


# Let's take a look at the updated text
data_clean = pd.DataFrame(new_clean_com5)

In [254]:
data_clean.head(3)
data_clean.columns=["Complaints"]

In [255]:
data_clean$Complaints <- gsub(", "", data_clean$c1)

                                           Complaints
0   ngwane philani excellent hi i received  yester...
1   tebatso matlou hi i havent deposited nothing f...
2   xolisile maxoli mkhize when will it be possibl...
3   daniel belteshazzar i received  in my account ...
4   khabonina khabo again during this time my son ...
5   ikeraam daniels i am gutted and utterly disapp...
6   gugu lethu hi last month i withdraw money from...
7   simon moeketsi is it possible to reverse the d...
8   makaokuhle mapholoba i would like to open an c...
9   itumeleng motau two weeks ago i replaced my ca...
10  gadifele maureen hi i send money to someone wh...
11  theodore mabunda so now we dont deposit money ...
12  nolu ngxabazi can i change my fixed stop order...
13  remofilwe mokgatlhe what documents do i need t...
14  madelaine herbst what is your interest rate on...
15  sbongs v ngxongo pls capitec make sure you hav...
16  benedict sello tukula we have problems when we...
17  nozipho ziphow sibiya i have unauthorized debi...
18  sibongile dlamini good day yesterday around  s...
19  percy sledge ndlovu capitec bank is it  per tr...
20  onkgopotse monyatsi is it possible to pay mont...
21  size nkosi yeerr on sunday i withdrawn  rand i...
22  cizarh kamagatsheni mkhize i deposited money o...
23  palesa makhubele i have fixed account so if ne...
24  dineko mhlongo does capitec branch work on sunday
25  wayne lottering do you get notifications for a...
26  chris lotter capitec looks good on facebook un...
27  nceba mtshizana fixed deposit saving of   for ...
28  jabulani radebe your app is not responding and...
29  phumeza mezza mackiby capitec in malvern jhb h...
..                                                ...
39  isabel sibanda i was using my app one of the d...
40  rachel ndlovu did foreign with permit allowed ...
41  veronica khumalo this bank those not do revers...
42          alfie legoba what is it anyway lazy money
43                 siphiwe c msiza what is lazy money
44  ßlåq beltamo shärröll why capitac bank dont al...
45  svumile omhlophe kamahlobo wat tim are you clo...
46  phethile sambo i had send money from my sister...
47  nosi majalamba shezi please help me what must ...
48  nkosunaye ndlovu i took i loan via capitec and...
49  ivakele ivah hi i have been depositing money t...
50                       nem oath help help help help
51  emma mohlala im no longer receive bank notific...
52  sphesihle m mngomezulu тoday ι тrιed тo do cel...
53               nodumo mbona please check your inbox
54  chris madier ke client ya capitec a ke kgona g...
55              thapelo mhlongo please fix your app😡😡
56           pierre bezuidenhout app is offline again
57  o zwe madoda izinja hi im zweli i was scammed ...
58                   zama ndosi app is offline again
59            meme pheladi phogole best bank ever 😍😍😍
60               cecilea van dyk app is offline again
61  mzi makate hi capitec every monthends i strugg...
62  cornflakes marlagy hello capiteci make online ...
63  winniefred coangae could you pls fix your app ...
64  sphesihle m mngomezulu ι canт even вυy aιrтιмe...
65  nthabiseng fortunate modiselle am not happy wi...
66  nkosana van cow hi i want to reverse a payment...
67     skhoh sonke i need a credit cardmrmiss capitec
68  motlokoa george want to apply for loan whats n...

[69 rows x 1 columns]


# Organizing The Data
I mentioned earlier that the output of this notebook will be clean, organized data in two standard text formats:

Corpus - a collection of text
Document-Term Matrix - word counts in matrix format
#### Corpus
The definition of a corpus is a collection of texts, and they are all put together neatly in a pandas dataframe here.

In [225]:
# Pickling data for later use

In [239]:

# Let's pickle it for later use
data_clean.to_pickle("corpus.pkl")

##  Document Matrics

Document-Term Matrix
For many of the techniques we'll be using in future notebooks, the text must be tokenized, meaning broken down into smaller pieces. The most common tokenization technique is to break down text into words. We can do this using scikit-learn's CountVectorizer, where every row will represent a different document and every column will represent a different word.

In addition, with CountVectorizer, we can remove stop words. Stop words are common words that add no additional meaning to text such as 'a', 'the', etc.

In [243]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

vec = CountVectorizer()
X = vec.fit_transform(new_clean_com5)
df = pd.DataFrame(X.toarray(), columns=vec.get_feature_names())
df.head()

,abroad,absa,acc,access,account,accountits,accumulate,activate,address,admin,...,вanĸιng,вυy,мoвιcel,мy,тo,тoday,тrιed,тнereѕ,ѕaιd,ѕυѕpended
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [249]:
from sklearn.feature_extraction.text import TfidfVectorizer
import numpy as np

lectures=new_clean_com5
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(lectures)
indices = np.argsort(vectorizer.idf_)[::-1]
features = vectorizer.get_feature_names()
top_n = 800
top_features = [features[i] for i in indices[:top_n]]
print (top_features)

['ѕυѕpended', 'legoba', 'ke', 'keep', 'keletso', 'kgona', 'kgotsa', 'khabo', 'khabonina', 'khumalo', 'killing', 'knows', 'kudala', 'kuzoba', 'kwi', 'later', 'leli', 'gutted', 'less', 'lethu', 'lines', 'lona', 'longer', 'look', 'looking', 'looks', 'losing', 'lost', 'lotter', 'lottering', 'low', 'mabogwane', 'kamahlobo', 'kamagatsheni', 'jhb', 'jele', 'happen', 'happened', 'happens', 'hello', 'helped', 'herbst', 'hope', 'hunderd', 'ikeraam', 'ikgopoleng', 'iloan', 'imali', 'inbox', 'incident', 'inconvenient', 'increase', 'inside', 'installment', 'insurances', 'invistigation', 'isabel', 'istatement', 'itself', 'itumeleng', 'ivah', 'ivakele', 'ive', 'izinja', 'jabulani', 'mabunda', 'machine', 'mackiby', 'morning', 'motlokoa', 'msiza', 'mtshizana', 'mzi', 'naedo', 'nah', 'nam', 'name', 'nceba', 'ncilawololi', 'ndosi', 'nedbank', 'needed', 'nem', 'never', 'new', 'next', 'ngab', 'ngalahlekelwa', 'ngo', 'ngwane', 'ngxabazi', 'ngxongo', 'nkosana', 'nkosi', 'nkosunaye', 'nodumo', 'nokubonga', 'nolu', 'motau', 'monyatsi', 'made', 'monthends', 'madelaine', 'madier', 'madoda', 'majalamba', 'makaokuhle', 'makate', 'makhubele', 'mall', 'malvern', 'manje', 'many', 'mapholoba', 'marlagy', 'masimb', 'matlou', 'maureen', 'maxoli', 'mbona', 'member', 'meme', 'mezza', 'miellie', 'mistake', 'mobile', 'ѕaιd', 'moeketsi', 'mohlala', 'mokgatlhe', 'monday', 'guy', 'gugu', 'nosi', 'campbell', 'basenz', 'bath', 'bay', 'being', 'beltamo', 'belteshazzar', 'benedict', 'bengifakele', 'best', 'bezuidenhout', 'block', 'boikanyo', 'bronkhorstspruit', 'calvin', 'cancel', 'gues', 'cannot', 'canт', 'capetic', 'capitac', 'capiteci', 'card', 'cardmrmiss', 'cecilea', 'cellpнone', 'charge', 'charged', 'charging', 'cizarh', 'clarification', 'bartlet', 'banking', 'bankeng', 'balito', 'acc', 'access', 'accountits', 'accumulate', 'activate', 'address', 'admin', 'ago', 'agreed', 'alfie', 'all', 'allow', 'allowed', 'always', 'amount', 'anathi', 'angilifin', 'anything', 'anyway', 'apparently', 'ask', 'assistance', 'atmsnot', 'attempts', 'authorised', 'away', 'ax', 'aιrтιмe', 'baba', 'clients', 'closing', 'coangae', 'enabled', 'engaka', 'enough', 'enquire', 'errow', 'ever', 'example', 'excellent', 'fabian', 'facebook', 'fail', 'failed', 'flexi', 'flexible', 'foreign', 'forgot', 'fortunate', 'frustrated', 'frustrating', 'funds', 'funeral', 'gadifele', 'george', 'getting', 'goes', 'goin', 'going', 'gone', 'got', 'grant', 'end', 'emma', 'code', 'each', 'codes', 'collect', 'confuses', 'contacted', 'cornflakes', 'could', 'couldnt', 'cover', 'cow', 'cvv', 'daload', 'daniel', 'daniels', 'date', 'de', 'deducted', 'depositing', 'dialling', 'dineko', 'disability', 'dlamini', 'documents', 'doesnt', 'doti', 'dowskii', 'dr', 'due', 'during', 'dyk', 'nonkqubela', 'modiselle', 'abroad', 'shärröll', 'sibiya', 'sibongile', 'simon', 'since', 'siphiwe', 'wam', 'walking', 'sirbuja', 'sister', 'site', 'waisting', 'size', 'skhoh', 'skinny', 'sledge', 'sms', 'smss', 'voice', 'visited', 'veronica', 'vanished', 'sibanda', 'shows', 'sonke', 'shown', 'withdrawal', 'safe', 'winniefred', 'sambo', 'those', 'sassa', 'which', 'saturday', 'weeks', 'sbongs', 'wayne', 'scammed', 'score', 'sebedontsa', 'see', 'sello', 'waverley', 'service', 'sheleta', 'shezi', 'should', 'son', 'valuable', 'reversing', 'swift', 'trying', 'tebatso', 'tee', 'thapelo', 'try', 'trasfered', 'thatif', 'transaction', 'trade', 'towns', 'top', 'then', 'theodore', 'took', 'tomorrow', 'times', 'tim', 'theres', 'these', 'though', 'thier', 'tshwanetse', 'tuesday', 'squeaky', 'tukula', 'utterly', 'standard', 'started', 'useless', 'urgent', 'until', 'under', 'unauthorized', 'stolen', 'stressed', 'twala', 'struggle', 'student', 'studies', 'sucks', 'sum', 'turned', 'suppose', 'sure', 'suspended', 'svumile', 'rubbed', 'things', 'pensioner', 'payable', 'payment', 'ok', 'мy', 'withdraws', 'per', 'percy', 'yes', 'permit', 'yeerr', 'тo', 'year', 'pheladi', 'ye', 'phethile', 'philani', 'phogole', 'тoday', 'omhlophe', 'yini', 'oath', 'мoвιcel', 'orders', 'other', 'ßlåq', 'ziphow', 'zip', 'zama', 'ιт', 'yona', 'yon', 'paid', 'ιѕ', 'palesa', 'вanĸιng', 'particular', 'past', 'onkgopotse', 'вυy', 'zwe', 'ya', 'xolisile', 'remofilwe', 'reboot', 'without', 'nowwwww', 'reflected', 'refund', 'nowubon', 'refunded', 'replaced', 'phones', 'replacement', 'reply', 'reported', 'тнereѕ', 'responding', 'rest', 'reversal', 'rate', 'wont', 'zweli', 'problem', 'pierre', 'pin', 'numberits', 'number', 'ntswalo', 'ntswa', 'radebe', 'numerous', 'phumeza', 'problems', 'purchase', 'тrιed', 'nthabiseng', 'put', 'rachel', 'nozipho', 'absa', 'disappointed', 'does', 'till', 'withdrawn', 'also', 'debit', 'before', 'branches', 'whats', 'week', 'because', 'wat', 'work', 'change', 'working', 'would', 'wrong', 'wнaт', 'balance', 'chris', 'wait', 'years', 'via', 'come', 'van', 'atms', 'yesterday', 'as', 'around', 'apply', 'two', 'day', 'another', 'bring', 'notifications', 'last', 'open', 'sunday', 'had', 'period', 'stop', 'happy', 'has', 'saving', 'havent', 'still', 'months', 'says', 'knowledge', 'lazy', 'pay', 'more', 'sphesihle', 'if', 'something', 'our', 'she', 'someone', 'out', 'over', 'much', 'mngomezulu', 'into', 'forex', 'friday', 'fix', 'no', 'receive', 'them', 'rand', 'mhlongo', 'make', 'person', 'said', 'extra', 'than', 'take', 'online', 'every', 'mkhize', 'matter', 'be', 'possible', 'just', 'same', 'received', 'long', 'must', 'monthly', 'withdraw', 'will', 'who', 'by', 'go', 'very', 'deposited', 'ndlovu', 'there', 'time', 'find', 'today', 'told', 'off', 'one', 'did', 'give', 'nothing', 'interest', 'only', 'good', 'plz', 'credit', 'client', 'an', 'pls', 'again', 'they', 'its', 'want', 'back', 'order', 'know', 'after', 'why', 'didnt', 'are', 'or', 'using', 'use', 'went', 'us', 'days', 'check', 'need', 'month', 'offline', 'phone', 'now', 'at', 'this', 'where', 'even', 'deposit', 'reverse', 'loan', 'like', 'im', 'cant', 'dont', 'fixed', 'we', 'am', 'help', 'please', 'so', 'but', 'branch', 'from', 'me', 'send', 'in', 'with', 'been', 'hi', 'atm', 'when', 'get', 'of', 'not', 'account', 'your', 'what', 'you', 'was', 'bank', 'can', 'have', 'how', 'on', 'that', 'do', 'app', 'for', 'capitec', 'my', 'it', 'is', 'money', 'the', 'and', 'to']